<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>228749006957-g7ikk3nf6fddgts1b9c01bgpje7coa7a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.228749006957-g7ikk3nf6fddgts1b9c01bgpje7coa7a</string>
	<key>API_KEY</key>
	<string>AIzaSyAkrJ4xLQOfAKlKNOOxFZaCIVxMvkLvL6s</string>
	<key>GCM_SENDER_ID</key>
	<string>228749006957</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.drboot</string>
	<key>PROJECT_ID</key>
	<string>drboot-30570</string>
	<key>STORAGE_BUCKET</key>
	<string>drboot-30570.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:228749006957:ios:ddaa6464cc809c32154764</string>
</dict>
</plist>